# try conda!
git+https://github.com/facebookresearch/detectron2.git
cython
setuptools==59.5.0
numpy==1.23
matplotlib
scikit-image
scikit-learn==0.22
scipy
tqdm
torchgeometry==0.1.2
tensorboard
smplx
pyrender
open3d
imageio-ffmpeg
opencv-python
joblib
hydra-core
pyyaml
# chumpy
gdown
dill
motmetrics
scenedetect[opencv]
einops
mmcv==1.3.9
mmcv==1.3.9
xtcocotools==1.10
pandas==1.4.0
git+https://github.com/brjathu/pytube.git
git+https://github.com/nghorbani/configer
